# STAT 207 Homework 2 [25 points]

## Understanding Data and Asking Questions

Due: Friday, January 26, end of day (11:59 pm CT)*

*Late Submissions: accepted until Thursday, February 1 at 11:59 pm
<hr>

## Set Up the Data

First, we'll set up the file so that we can complete our data analysis.  We'll import Python packages including pandas, which helps when analyzing a dataset, and visualization packages.  We'll also load in our data and save it as `df` for later analysis.

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [15]:
df = pd.read_csv('Billionaire.csv')

We'll work with a data set about the world's billionaires from 2021 (https://www.forbes.com/real-time-billionaires/#49c85f6e3d78).  This data is contained in the "Billionaire.csv" file located in the same folder.

We've read this data in above.

## 1. Understanding the Billionaires Data [1 point]

Display the first several lines of the data frame.

In [16]:
df.head(n=20)

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology
5,Warren Buffett,$96 B,United States,Berkshire Hathaway,6,90.0,Finance & Investments
6,Larry Ellison,$93 B,United States,software,7,76.0,Technology
7,Larry Page,$91.5 B,United States,Google,8,48.0,Technology
8,Sergey Brin,$89 B,United States,Google,9,47.0,Technology
9,Mukesh Ambani,$84.5 B,India,diversified,10,63.0,Diversified
10,Amancio Ortega,$77 B,Spain,Zara,11,85.0,Fashion & Retail
11,Francoise Bettencourt Meyers & family,$73.6 B,France,L'Or√©al,12,67.0,Fashion & Retail
12,Zhong Shanshan,$68.9 B,China,"beverages, pharmaceuticals",13,66.0,Food & Beverage
13,Steve Ballmer,$68.7 B,United States,Microsoft,14,65.0,Technology
14,Ma Huateng,$65.8 B,China,internet media,15,49.0,Technology
15,Carlos Slim Helu & family,$62.8 B,Mexico,telecom,16,81.0,Telecom
16,Alice Walton,$61.8 B,United States,Walmart,17,71.0,Fashion & Retail
17,Jim Walton,$60.2 B,United States,Walmart,18,72.0,Fashion & Retail
18,Rob Walton,$59.5 B,United States,Walmart,19,76.0,Fashion & Retail
19,Michael Bloomberg,$59 B,United States,Bloomberg LP,20,79.0,Media & Entertainment

## 2. Billionaires Data Basics [1 point]

Use Python to report the dimensions of the data.

In [17]:
df.shape

(2755, 7)

## 3. Variable Types [1 point]

What is the variable type as recorded in Python for each variable in the Billionaire data?

In [18]:
df.dtypes

Name         object
NetWorth     object
Country      object
Source       object
Rank          int64
Age         float64
Industry     object
dtype: object

## 4. Asking and Answering Questions [1 point]

You will pose a question that you can answer using the available data.  Below, use Python to answer your question, using numerical summaries, graphical visualizations, or both.  You will also upload this output to Gradescope as either a file upload or pasting your output from below.

What is the average age for a billionare?

In [19]:
df.Age.mean()

63.1136023916293

Remember to keep all your cells and hit the save icon above periodically to checkpoint (save) your results on your local computer. Once you are satisified with your results restart the kernel and run all (Kernel -> Restart & Run All). **Make sure nothing has changed**. Checkpoint and exit (File -> Save and Checkpoint + File -> Close and Halt). Follow the instructions on the Homework 2 Canvas Assignment to submit your notebook to GitHub.  Be sure to also complete the Gradescope component of this assignment.